@{
  Layout="Shared/_Layout.cshtml";
}


<form action="/restaurants/all" method="post">
  <label for="restaurant-name">New Restaurant</label>
  <input name="restaurant-name" type="text">
  <select name = "cuisine-id">
    @foreach (var cuisines in Model)
    {
      <option value="@cuisines.GetId()">@cuisines.GetName()</option>
    }
<!-- BUTTON CAN'T BE FOUND -->
  <button type="submit">Add restaurant</button>
</form>
