
@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/cuisines/all" method="post">
  <label for="cuisine-name">New Cuisine</label>
  <input name="cuisine-name" type="text">
  <button type="submit">Add</button>
</form>
